
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log


venv/
env/
.venv/
ENV/


*.env
.env.*
.DS_Store
Thumbs.db


*.sqlite3
*.db
*.sql


static/uploads/


build/
dist/
*.bak
*.tmp

.vscode/
.idea/
*.swp


.cache/
*.pytest_cache/
.mypy_cache/